---
import Hero from '../components/Hero.astro'
import AboutSection from '../components/AboutSection.astro'
import CaseSection from '../components/CaseSection.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'

import '../global.css'
---

<DefaultLayout>
    <span id="top" aria-hidden="true"></span>
    <Hero />
    <AboutSection />
    <CaseSection />
</DefaultLayout>