---
import { Content, frontmatter } from '../content/about.md'
---

<section id="about" class="my-8 w-5/6 h-[100vh] text-left flex flex-col justify-start items-center lg:w-4/6 lg:flex-row lg:justify-evenly lg:gap-8 lg:items-center xl:w-3/6">
    <img src={ frontmatter.profilePhoto } class="w-[320px] h-[320px] rounded-full" alt="Profile photo" />
    <div>
        <Content />
    </div>
</section>