<div class="w-full flex-col justify-center items-center text-sm text-center py-2">
    <p class="mt-16 mb-0.5 text-neutral-500">Copyright &copy; { import.meta.env.COPYRIGHT_YEAR } { import.meta.env.COPYRIGHT_NAME }</p>
    <p class="mt-2 mb-1 text-xs text-neutral-500 font-bold"><a href="https://github.com/otsha/ux-casefolio-template">UX Casefolio Template &nearr;</a></p>
</div>