---
import NavLink from "./NavLink.astro"
---

<nav class="w-full p-4 flex flex-col gap-8 justify-start items-center md:flex-row md:justify-between md:items-baseline md:gap-0 md:px-8 md:fixed md:bg-[#121212]">
    <button id="titlebtn"><h1 class="text-4xl m-0 p-0">{ import.meta.env.SITE_NAME }</h1></button>
    <div class="flex flex-row justify-evenly items-baseline gap-8 flex-wrap md:flex-nowrap">
        <NavLink text="About" url="/#about" />
        <NavLink text="Cases" url="/#cases" />
        <NavLink text="Link" url="https://example.com" />
    </div>
</nav>

<button id="scrollToTop" class="md:hidden fixed bottom-8 right-8 w-[48px] h-[48px] pb-[4px] bg-[#121212] text-[#efefef] rounded-full shadow-lg text-xl hover:bg-[#efefef] hover:text-[#121212] outline outline-white/20">
    &uarr;
</button>

<script>
    const titleBtn = document.getElementById('titlebtn')
    titleBtn?.addEventListener('click', () => {
        if (window.location.pathname === '/') {
            document.getElementById('top')?.scrollIntoView({ behavior: 'smooth' })
        } else {
            window.location.replace('/')
        }
    })

    const bttButton = document.getElementById('scrollToTop')
    bttButton?.addEventListener('click', () => {
        document.getElementById('top')?.scrollIntoView({ behavior: 'smooth' })
    })
</script>